<div class="row proyectos">

    <h2 class="mt-5 p-1 text-bg-success text-dark">Proyectos</h2>

    <div class="button-new">
        <button type="button" class="btn btn-primary" routerLink="/nuevoproyecto" *ngIf="isLogged"><i
                class="bi bi-plus-circle"></i><br>Agregar proyecto</button>
    </div>

    <div class="container-fluid text-center my-3">
        <div class="row" *ngFor="let Proyectos of proyectos">
            <div class="col-xl-4 col-lg-5 col-md-6 mt-2 border border-3 border-success radius-start text-center">
                <img id="exp-image" src={{Proyectos.img}} alt="Logo del proyecto.">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 mt-md-2 border border-3 border-success radius-end centrar-texto">
                <h3>{{Proyectos.nombre}}</h3>
                <p>{{Proyectos.descripcion}}</p>
                <a href={{Proyectos.link}} target="_blank">Ir al proyecto</a>
                <br>
                <div *ngIf="isLogged" class="botones">
                    <button class="btn btn-light" routerLink="/editproyecto/{{Proyectos.id}}">
                        <i class="bi bi-pencil-fill" style="color: black;"></i></button>
                    <button class="btn btn-danger" (click)="delete(Proyectos.id)">
                        <i class="bi bi-trash3-fill"></i></button>   
                </div>
            </div>
        </div>
    </div>
</div>