h2,
h3,
p {
  color: #fff;
}

.proyectos {
  margin: 0px 1px;
}

#exp-image {
  width: 200px;
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radius-start {
  border-radius: 20px 20px 0 0;
}

.radius-end {
  border-radius: 0 0 20px 20px;
}

@media screen and (min-width: 768px) {
  .proyectos {
    margin: 0px 20px;
  }

  .radius-start {
    border-radius: 20px 0px 0px 20px;
  }

  .radius-end {
    border-radius: 0px 20px 20px 0px;
  }
}