<div class="educacion">
    <h2 class="mt-5 p-1 text-bg-success text-dark">Educación</h2>
    <div class="container-fluid text-center mt-3">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 border border-3 border-success radius-start text-center">
                <img class="img-edu" src="../../../assets/escuela.png" alt="Escuela secundaria Logo.">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 border border-3 border-success radius-end centrar2">
                <h3>Escuela Normal Superior "General Manuel Belgrano"</h3>
                <p>Bachillerato en Ciencias Sociales y Humanidades.</p>
                <p class="fecha"><small>2008 a 2014</small></p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center mt-2">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 border border-3 border-success radius-start text-center">
                <img class="img-edu" src="../../../assets/conser1.png" alt="Conservatorio Logo.">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 border border-3 border-success radius-end centrar2">
                <h3>Conservatorio Superior de música "Carlos Giraudo"</h3>
                <p>Técnico de artes musicales con orientación en percusión y guitarra.</p>
                <p class="fecha"><small>2008 a 2014</small></p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-xl-4 col-lg-5 col-md-6 border border-3 border-success radius-start text-center">
                <img class="img-edu" src="../../../assets/conser.png" alt="Conservatorio Logo.">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 border border-3 border-success radius-end centrar2">
                <h3>Conservatorio Superior de música "Félix Garzón"</h3>
                <p>Técnico superior de artes musicales con orientación en percusión.</p>
                <p class="fecha"><small>2015 a 2021</small></p>
            </div>
        </div>
    </div>
</div>