<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
      target="_blank"><img src="../../../assets/Logo.png" alt="Argentina Programa Logo." width="130" height="70"></a>
    <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
      target="_blank">#YoProgramo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active d-none d-md-block" aria-current="page" href="#">Ir arriba</a>
        </li>
      </ul>
      <a href="https://github.com/SantiagoTonda" target="_blank"><img class="socials" src="../../../assets/Github.png"
          alt="Github." /></a>
      <a href="https://www.linkedin.com/in/santiago-tonda-0252b11a4/" target="_blank"><img class="socials"
          src="../../../assets/linkedin.png" alt="Linkedin Logo."></a>
      <a href="https://www.facebook.com/santiago.o.tonda/" target="_blank"><img class="socials"
          src="../../../assets/Facebook.png" alt="Facebook Logo."></a>
      <a href="https://www.instagram.com/santiagotonda/" target="_blank"><img class="socials"
          src="../../../assets/Insta.png" alt="Instagram Logo."></a>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-light login" type="submit" (click)="iniciarsesion()"
          *ngIf="!isLogged">Ingresar</button>
        <button class="btn btn-outline-light login" type="submit" (click)="onLogOut()" *ngIf="isLogged">Cerrar
          sesión</button>
      </form>
    </div>
  </div>
</nav>

<div>
  <img class="banner" src="https://i.picsum.photos/id/201/5000/3333.jpg?hmac=NE8fOMa8u9PBfkq4AVwEoJdRqoPTNwUsyKvKWuXyNCk"
    alt="Banner.">
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 mt1">
      <img class="perfil" src={{persona?.img}} alt="Profile Picture.">
      <h2>{{persona?.nombre}} {{persona?.apellido}}</h2>
      <p>Full stack web developer Junior</p>
    </div>
    <div class="col-xxl-9 col-xl-8 col-lg-7 col-md-6 mt2">
      <h3>Acerca de mí</h3>
      <p>{{persona?.descripcion}}</p>
    </div>
  </div>
</div>

<div class="button-new">
  <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged"><i
      class="bi bi-pencil-fill"></i><br>
    Editar
  </button>
</div>