<div class="info">

    <h2 class="mt-5 p-1 text-bg-success text-dark">Experiencia profesional</h2>

    <div class="button-new">
        <button type="button" class="btn btn-primary" routerLink="/nuevaexp" *ngIf="isLogged"><i
                class="bi bi-plus-circle"></i><br>Agregar experiencia</button>
    </div>

    <div class="container-fluid text-center mt-3">
        <div class="row" *ngFor="let Experiencia of expe">
            <div class="col-xl-4 col-lg-5 col-md-6 mt-2 border border-3 border-success radius-start text-center">
                <img id="exp-image" src={{Experiencia.img}} alt="Logo de la experiencia profesional">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 mt-md-2 border border-3 border-success radius-end centrar-texto">
                <h3>{{Experiencia.nombreE}}</h3>
                <p>{{Experiencia.descripcionE}}</p>
                <p class="fecha"><small>{{Experiencia.fecha}}</small></p>
                <div *ngIf="isLogged" class="botones">
                    <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                        <i class="bi bi-pencil-fill" style="color: black;"></i></button>
                    <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                        <i class="bi bi-trash3-fill"></i></button>    
                </div>
            </div>
        </div>
    </div>
</div>